<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPLVote-Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>IPLVote</h1>
        <h4>Vote Your Favourite Team On Matchday</h4>
    </div>
    <br>
    <div class="container">
        <div class="card-deck">
            <div class="card img-fluid" style="width:500px">
                <a href=""><img class="card-img-top" src="../images/csk_logo.jpg" alt="Card image" style="width:100%"></a>
            </div>
            <div class="card img-fluid" style="width:500px">
                <a href=""><img class="card-img-top" src="../images/dc_logo.jpg" alt="Card image" style="width:100%"></a>
            </div>
            <div class="card img-fluid" style="width:500px">
                <a href=""><img class="card-img-top" src="../images/rcb_logo.jpg" alt="Card image" style="width:100%"></a>
                
            </div>
            <div class="card img-fluid" style="width:500px">
                <a href=""><img class="card-img-top" src="../images/srh_logo.jpg" alt="Card image" style="width:100%"></a>
        
            </div>
        </div>
        <br>
        <div class="card-deck">
            <div class="card img-fluid" style="width:500px">
                <a href=""><img class="card-img-top" src="../images/mi_logo.jpg" alt="Card image" style="width:100%"></a>
                
            </div>
            <div class="card img-fluid" style="width:500px">
                <a href=""><img class="card-img-top" src="../images/kxip_logo.jpg" alt="Card image" style="width:100%"></a>
                
            </div>
            <div class="card img-fluid" style="width:500px">
                <a href=""><img class="card-img-top" src="../images/rr_logo.jpg" alt="Card image" style="width:100%"></a>
                
            </div>
            <div class="card img-fluid" style="width:500px">
                <a href=""><img class="card-img-top" src="../images/kkr_logo.jpg" alt="Card image" style="width:100%"></a>
            </div>
        </div>
    </div>
    <br>
    <div class="container" style="text-align: center;">
        <a href="/fixtures/" class="btn btn-primary">Fixtures</a>
        <a href="/voters/logout" class="btn btn-primary">Logout</a>
    </div>
</body>
</html>