<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPLVote-AddFixture</title>
</head>
<body>
    <form action="/fixtures/add" method="post">
        <input type="text" name="homeTeam" placeholder="Home team" required><br>
        <input type="text" name="awayTeam" placeholder="Away team" required><br>
        <input type="number" name="matchDay" placeholder="Matchday" required><br>
        <input type="text" name="stadium" placeholder="Stadium" required><br>
        <input type="submit" value="Add fixture">
    </form>
</body>
</html>