<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/team/add" method="POST">
        <input type="text" name="teamName" placeholder="Team name" required><br>
        <input type="text" name="playing eleven" placeholder="Playing Eleven" required><br>
        <input type="text" name="player1" placeholder="Player1 name" required><br>
        <input type="text" name="player2" placeholder="Player2 name" required><br>
        <input type="text" name="player3" placeholder="Player3 name" required><br>
        <input type="text" name="player4" placeholder="Player4 name" required><br>
        <input type="text" name="player5" placeholder="Player5 name" required><br>
        <input type="text" name="player6" placeholder="Player6 name" required><br>
        <input type="text" name="player7" placeholder="Player7 name" required><br>
        <input type="text" name="player8" placeholder="Player8 name" required><br>
        <input type="text" name="player9" placeholder="Player9 name" required><br>
        <input type="text" name="player10" placeholder="Player10 name" required><br>
        <input type="text" name="player11" placeholder="Player11 name" required><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>